<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#fafafa">
        <meta property="og:type" content="website">
        <meta property="og:title" content="myLibrary">
        <meta property="og:description" content="Simple library website">
        <title>myLibrary</title>
        
        <!-- Main CSS -->
		<!-- <link rel="stylesheet" href="dist/css/style.min.css"/> -->
		<link rel="stylesheet" href="src/css/style.css"/>
		
		<!-- FontAwesome -->
		<script src="https://use.fontawesome.com/c8c98e0020.js"></script>
		
		<!-- Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"/>
	</head>
	<body>
		<header class="header">
					<div class="header__logo">
						<h1 class="h1--logo">myLibrary</h1>
						<h2 class="h2--logo">Admin Login</h2>
				</div>
		</header>

		<main>
			<div class="main--container">
				<div class="section">
					<form class="form--login" @submit.prevent="login">
						<input class="form__el" v-model="email" type="text" id="inputEmail" placeholder="ID" required autofocus>
						<input class="form__el" v-model="password" type="password" id="inputPassword" placeholder="Password" required>
						<button class="form__sumbit" type="submit">Login</button>
					</form>
                </div>
			</div>
		</main>

		<footer class="footer footer--bottom">
				<div class="footer--container">
					<h1 class="footer--title">
						© Adrian Orłów, 2018
					</h1>
				</div>
		</footer>
	</body>
</html>