/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}   

textarea {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

*:focus {
    outline: none;
}

/* Basic */

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

    a:visited {
        color: #333;
    }

.hidden {
    display: none;
}

/* Header */

.header {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100%;
}

    .header__logo {
        cursor: pointer;
        margin: 3.3em 0 6.6em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .h1--logo {
        font-size: 3.5em;
        width: auto;
        font-weight: 700;
    }

@media (max-width: 43em) {
    .h1--logo {
        float: none;
        text-align: center;
        font-size: 3em;
    }
}

/* Main */

    .main--container {
        width: 80%;  
        margin: 40px auto;
    }

/* Sections */

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section--search {
        margin-bottom: 9.9em;
    }

    .section--books {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto auto auto;
    }

/* Search */

    .search__input {
        background-color: #f5f5f5;
        border: none;
        border-radius: 0.3em;
        font-size: 2.5em;
        line-height: 1.25em;
        padding: 0.5em 1em;
        transition: ease-in-out 0.2s;
        width: 15em;
   }

        .search__input:focus {
           background-color: #ececec; 
        }

        .search__input:focus::-webkit-input-placeholder {
            opacity: 0;
        }
/* Books */

    .book {
        height: 23.04em;
        width: 14.4em;
        background: #f5f5f5;
        border-radius: 0.5em;
        position: relative;
        margin-left: 1em;
    }

    .book--container {
        padding: 2em 1em;
    }

    .book__title {
        font-size: 1.5em;
        font-weight: 700;
    }

    .book__author {
        font-size: 1.2em;
        font-weight: 600;
        font-style: italic;
        line-height: 0em;
    }

    .book__status {
        position: absolute;
        bottom: 2em;
        right: 0;
        left: 0;
    }

    .book_author, .book__title, .book__author, .book__status {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .book__cover {
        width: 55%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-40%);
        max-width: 100%;
        max-height: 100%;
    }


/* Footer */
    .footer {
        background: #fafafa;
        color: #333;
        width: 100%;
        height: 10vh;
        font-size: 1.4em;
        bottom: 0;
    }

        .footer--container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0;
            height: 100%;
            width: 100%;
            max-width: 1200px;
        }

        .footer--title {
            font-weight: 600;
            font-family: "Montserrat";
        }
        
        .footer--link {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.9em;
        }